footer {
  display: block;
}


.card {
  margin-top: 10px;
}


body {
  font-family: sans-serif;
}


.nav-item {
  font-size: 20px;
  font-weight: bold;
}


@media and screen (min-width: 768px) and (max-width: 1200px) {
    img {
      width: 100%
      height: auto;
    }
}
